.comments {
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;

  &-collapsible {
    background-color: var(--background);
    border: 2px solid var(--accent-alpha-70);
    color: var(--color);
    cursor: pointer;
    font-family: "JetBrainsMono";
    font-size: 16px;
    margin: 15px 0 10px 7px;
    outline: none;
    padding: 15px;
    text-align: center;
    width: 160px;

    &:hover {
      background-color: var(--accent-secondary-alpha-70);
    }
  }
}
