@import "variables";

.footer {
  flex-direction: column;
  flex-grow: 0;
  opacity: 0.5;
  padding: 20px 0 10px 0;

  &__inner {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .copyright {
    align-items: center;
    color: var(--accent-alpha-70);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
  }

  .socials-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;

    a {
      background: unset;
    }

    img {
      filter: var(--image-filter);
      margin: 5px;
      -webkit-filter: var(--image-filter);
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .theme {
    &-container {
      display: flex;
      justify-content: center;
    }

    &_before {
      transition: flex 0.5s;
      flex-grow: 0;
      @media (max-width: $tablet-max-width) {
        flex-grow: 1;
      }
    }

    &-content {
      display: flex;
      align-items: center;
    }

    &_after {
      flex-grow: 1;
    }
  }

  #theme-select {
    background-color: var(--background);
    border: 2px solid var(--accent-secondary-alpha-70);
    color: var(--color);
    cursor: pointer;
    font-size: 0.95rem;
    text-align: center;
    margin: 5px;
    transition: background-color 0.2s ease-in;

    &:hover {
      background-color: var(--accent-alpha-20);
    }

    &:active {
      background-color: var(--accent-alpha-70);
    }
  }

  .webring {
    font-size: 0.8rem;
    text-align: center;
    margin: 5px;

    a {
      text-decoration: none;
    }
  }
}

a.backlink {
  margin-left: 10px;
  font-size: 1.3rem;
}

.footnote {
  &-definition {
    color: var(--accent);
    margin-right: 10px;

    p {
      display: inline;
      color: rgba(255, 255, 255, 0.7);

      &:first-of-type {
        margin-inline-start: 1ch;
      }
    }

    &-label {
      font-style: italic;
      font-weight: bold;
      margin-left: 3px;
    }
  }
}
