@import "variables";

blockquote {
  border-left: 4px solid var(--accent-alpha-70);
  color: var(--color);
  font-style: italic;
  padding: 1em 10px 5px 50px;
  position: relative;

  &:after {
    content: "";
  }

  &:before {
    color: var(--accent-alpha-70);
    content: "\201C";
    font-size: 3em;
    left: 10px;
    position: absolute;
    top: -10px;
  }
}

.copy {
  background: var(--background);
  border-color: var(--accent-secondary);
  border-radius: 10px;
  color: var(--color);
  display: block;
  font-size: 0.8em;
  margin: -10px 0 -2px auto;
  padding: 3px 8px;

  &:active {
    background-color: var(--accent-alpha-70);
  }

  &:focus {
    background-color: var(--accent);
    outline: 0;
  }

  &:hover {
    background-color: var(--accent-alpha-20);
    color: var(--accent-secondary);
    cursor: pointer;
  }
}

.post {
  text-align: left;
  width: 100%;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
  }

  &-edit {
    font-size: 0.9rem;
    margin-top: 2rem;

    svg {
      margin-right: 0.1rem;
      width: 2rem;
    }
  }

  &-metatitle {
    color: var(--accent-secondary);
  }

  &-title {
    --border: 3px dotted var(--accent);
    border-bottom: var(--border);
    color: var(--accent);
    margin: 0 0 8px;
    padding-bottom: 15px;
    padding-top: 20px;
    position: relative;

    &:after {
      border-bottom: var(--border);
      bottom: 2px;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
    }

    a {
      text-decoration: none;
    }

    &-sub {
      --border: 2.5px dotted var(--accent-secondary) !important;
      color: var(--accent-secondary) !important;
      padding-top: 15px !important;
    }
  }

  &-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--accent-secondary);
      font-size: $font-size + 0.1rem;
    }

    h1:before {
      content: "# ";
    }

    h2:before {
      content: "## ";
    }

    h3:before {
      content: "### ";
    }

    h4:before,
    h5:before,
    h6:before {
      content: "#### ";
    }

    ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 10px;

      li {
        padding-left: 10px;

        &:before {
          color: var(--accent);
          content: "*";
          left: -10px;
          position: absolute;
        }
      }
    }

    code {
      background: var(--accent-alpha-20);
      border-radius: $corner-radius;
      color: var(--accent-secondary);
      font-family: "JetBrainsMono", Menlo, DejaVu Sans Mono, Monaco, Consolas,
        Ubuntu Mono, monospace;
      font-feature-settings: normal;
      font-size: 0.95rem;
      margin: 0 2px;
      padding: 1px 6px;
    }

    pre {
      border: 1px solid var(--border-color);
      border-radius: $corner-radius;
      font-family: "JetBrainsMono", Menlo, DejaVu Sans Mono, Monaco, Consolas,
        Ubuntu Mono, monospace;
      font-size: 0.95rem;
      overflow: auto;
      padding: 15px 10px;

      code {
        background: none !important;
        border: none;
        color: inherit;
        font-size: inherit;
        margin: 0;
        padding: 0;
      }
    }

    &:not(.post-in-list) {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        .zola-anchor {
          border-bottom-color: transparent;
          cursor: pointer;
          font-size: inherit;
          margin-left: 0.5rem;
          text-decoration: none;
          vertial-align: 1%;
          visibility: hidden;
        }

        &:hover {
          .zola-anchor {
            visibility: visible;
          }
        }

        @media (max-width: $phone-max-width) {
          visibility: visible;
        }
      }
    }
  }

  .pre-list {
    border-bottom: 1px solid var(--border-secondary-color);
  }

  &-list {
    font-size: 1rem;
    list-style: none;

    li {
      padding-left: 5px;

      &:before {
        color: var(--accent-alpha-70);
        content: "</>";
        left: -33px;
        position: absolute;
      }
    }

    @media (max-width: $phone-max-width) {
      margin-left: 33px;
    }
  }
}

.meta {
  &-page {
    font-size: 1rem;
    color: var(--accent-alpha-70);
  }

  &-list {
    color: var(--color);

    &.meta-title {
      color: var(--accent-secondary);
    }
  }
}
