.squiggle {
  &-holder {
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &-ellipse {
    background: radial-gradient(
      ellipse,
      transparent,
      transparent 3px,
      transparent 5.3px var(--border-color) 3px,
      var(--border-color) 5px
    );

    background-size: 16px 15px;
    height: 7.5px;
    position: absolute;
    width: 100%;
  }

  &-ellipse2 {
    background-clip: padding-box;
    background-position: 0px -7.5px;
    left: 8px;
    top: 7.42px;
  }
}
