* {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#waybar.empty #window {
  background: none;
}

#taskbar button.active {
  background: @base03;
}

#taskbar button.minimized {
  border: 2px solid @base03;
}

#taskbar button.urgent {
  border: 2px solid @base08;
}

@keyframes blink {
  to {
    background-color: #ffffff;
  }
}

.modules-right #battery.critical:not(.charging) {
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  background-color: @base08;
}

.modules-right #clock {
  background-color: @base0A;
}

#custom-logo {
  color: #ffffff;
}

#custom-dunst {
  color: @base0A;
}

#mpris {
  color: @base00;
  background-color: @base05;
}

#custom-weather {
  color: @base00;
  background-color: @base06;
}

.modules-left image {
  padding-left: 5px;
  background-color: @base0F;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.modules-left #user {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-dunst,
#custom-logo,
#custom-weather,
#keyboard-state,
#mpris,
#network,
#taskbar,
#tray,
#user,
#window,
#wireplumber,
#workspaces {
  padding: 2px 5px 2px 5px;
}
