[submodule "secrets"]
	path = secrets
	url = https://github.com/maydayv7/secrets.git
[submodule "users/firefox/theme/firefox-gnome-theme"]
	path = users/firefox/theme/firefox-gnome-theme
	url = https://github.com/rafaelmardojai/firefox-gnome-theme.git
