(
  boot_sound: false,
  change_throttle_policy_on_ac: true,
  change_throttle_policy_on_battery: true,
  charge_control_end_threshold: 95,
  disable_nvidia_powerd_on_battery: true,
  mini_led_mode: false,
  panel_od: false,
  throttle_balanced_epp: BalancePower,
  throttle_performance_epp: Performance,
  throttle_policy_linked_epp: true,
  throttle_policy_on_ac: Performance,
  throttle_policy_on_battery: Quiet,
  throttle_quiet_epp: Power,
)