[user]
showWindowCount=false
showPreviews=true
onlyDisplayVisible=true
indicatorStyle=1
inactiveIndicatorStyle=4
indicatorOrientation=1
indicatorColorFromTheme=true
forceIconSize=true
iconSize=64
keyComboActive=true
keyAloneActive=true
pinned=/run/current-system/sw/share/applications/google-chrome.desktop;/run/current-system/sw/share/applications/xfce4-terminal.desktop;/run/current-system/sw/share/applications/thunar.desktop;/run/current-system/sw/share/applications/org.xfce.mousepad.desktop;/run/current-system/sw/share/applications/xfce-settings-manager.desktop;
