#panelBox {
  padding: 1px 5px 0.5px 5px;
}

#panel {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  border: 0.5px solid white;
  border-radius: 30px;
  padding: 0px 4px;
}

.popup-menu-content {
  background-color: rgba(48, 48, 48, 0.9);
  border: 0.5px solid white;
}
