* {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#custom-logo {
  color: #ffffff;
}

#user > image {
  padding-right: 5px;
}

#users .drawer box {
  margin-left: 5px;
}

#custom-power {
  color: @base08;
}

#waybar.empty #window {
  background: none;
}

.modules-left #workspaces button {
  border: 2px solid @base00;
}

.modules-left #workspaces button.active {
  background-color: @base05;
}

.modules-left #workspaces button.empty {
  color: @base07;
  background-color: transparent;
}

.modules-left #workspaces button.hosting-monitor {
  border: 2px solid @base04;
}

#submap {
  color: @base00;
  background-color: @base08;
}

#taskbar button.active {
  background: @base03;
}

#taskbar button.minimized {
  border: 2px solid @base03;
}

#taskbar button.urgent {
  border: 2px solid @base08;
}

#custom-dropdown {
  color: #ffffff;
}

#tray {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#tray * {
  margin-left: 8px;
}

#media .drawer box {
  margin-left: 3px;
}

#mpris {
  color: @base00;
  background-color: @base05;
}

@keyframes blink {
  to {
    background-color: #ffffff;
  }
}

.modules-right #battery.critical:not(.charging) {
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  color: @base0C;
}

#custom-weather {
  color: @base00;
  background-color: @base06;
}

.modules-right #clock {
  background-color: @base0A;
}

#custom-dunst {
  color: @base0A;
}

.modules-right #idle_inhibitor {
  color: @base09;
  background-color: transparent;
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-dropdown,
#custom-dunst,
#custom-logo,
#custom-power,
#custom-weather,
#keyboard-state,
#mpris,
#network,
#power-profiles-daemon,
#submap,
#taskbar,
#user,
#window,
#wireplumber,
#workspaces {
  padding: 3px 5px 3px 5px;
}
