{% extends "base.html" %} {%- block title %}
<title>Tags - {{ config.extra.author }}</title>
{%- endblock title -%} {% block main %}
<article class="post">
  <h1 class="post-title">#{{ taxonomy.name }}</h1>

  <ul class="post-list">
    {% for term in terms %}
    <li>
      <a href="{{ get_taxonomy_url(kind="tags", name=term.name) }}">{{ term.name
      }}</a> ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
    </li>
    {% endfor %}
  </ul>
</article>
{% endblock main %}
