/* App Window */
@define-color bg_color rgba(51,51,51,1);
@define-color window_bg @bg_color;
@define-color prefs_backgroud #aaa;

/* Input */
@define-color selected_bg_color #35628d;
@define-color selected_fg_color #fff;
@define-color input_color #fff;
@define-color caret_color darker(@input_color);

/* Result Items */
@define-color item_name #fff;
@define-color item_text #fff;
@define-color item_box_selected #4a4a4a;
@define-color item_text_selected #fff;
@define-color item_name_selected #fff;
@define-color item_shortcut_color #afafaf;
@define-color item_shortcut_shadow darker(@bg_color);
@define-color item_shortcut_color_sel #afafaf;
@define-color item_shortcut_shadow_sel darker(@item_box_selected);

/* Custom */
@define-color window_inner_border_color rgba(255, 255, 255, .075);
@define-color window_outer_border_color rgba(0,0,0,.8);

@define-color input_text_box_color #3a3a3a;
@define-color input_text_box_border #262626;
@define-color input_text_box_bottom_extra_border #3f3f3f;
@define-color input_text_box_inset_shadow rgba(0,0,0,.5);

@define-color item_shortcut_box_color #2f2f2f;
@define-color item_shortcut_box_shadow #2a2a2a;
@define-color item_shortcut_box_color_sel #424242;
@define-color item_shortcut_box_shadow_sel #3c3c3c;

@define-color item_divider_upper_part #222;
@define-color item_divider_lower_part #444;

.app {
  background-color: @window_bg;
  border-radius: 7px;
  border: 1px solid @window_inner_border_color;
  box-shadow:
    0 8px 10px 0px rgba(0, 0, 0, 0.8),
    0 0 0 1px @window_outer_border_color;
  margin: 0px 5px 30px 5px;
}

.input {
  font-size: 34px;
  font-weight: 600;
  color: @input_color;
  margin: -14px -54px -16px -15px;

  /* Fix for selection box cut off */
  padding-left: 15px;
  padding-right: 55px;
}

/* Selected Text in Input */
.input *:selected,
.input *:focus,
*:selected:focus {
  background-color: alpha (@selected_bg_color, 0.9);
  color: @selected_fg_color;
}

.item-text {
  color: @item_text;
  font-size: 12px;
  font-weight: 400;
  margin-left: -13px; /* To move text left because of moved icons */
}
.item-name {
  color: @item_name;
  margin-top: 2px; /* To center text to icon height */
  font-size: 16px;
  font-weight: 500;
}

.selected.item-box {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    @item_box_selected 10%,
    @item_box_selected 93%,
    rgba(0, 0, 0, 0) 93%,
    rgba(0, 0, 0, 0) 100%
  );
  /* Special fix to make the selection box smaller than the actual item
     box so it doesnt overlap with the window corners on the bottom */
}

.selected.item-box .item-text {
  color: @item_text_selected;
}

.selected.item-box .item-name {
  color: @item_name_selected;
}

.item-shortcut {
  color: @item_shortcut_color;
  text-shadow: 0 0; /* Remove shadow from default theme */

  background-color: @item_shortcut_box_color;
  box-shadow: 0 1px 0px @item_shortcut_box_shadow;

  margin: 16px 3px; /* Resizing shortcut box */
  padding-top: 1px; /* Recentering text as font size 10 makes text jump up 1 pixel */
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
}

.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  text-shadow: 0 0; /* Remove shadow from default theme */

  background-color: @item_shortcut_box_color_sel;
  box-shadow: 0 1px 0px @item_shortcut_box_shadow_sel;
}

.prefs-btn {
  opacity: 0;
  margin-left: -5px; /* To center button above shortcut boxes */
}

.prefs-btn:hover {
  background-color: @bg_color; /* To make background only visible when text is behind it */
  opacity: 1;
}

.no-window-shadow {
  margin: -20px;
}

/* Custom Styling */
.item-icon {
  margin-left: -25px; /* Moving the icons to the left and bringing them in line */
}

.item-container {
  margin-right: -10px; /* Moving the shortcut boxes to the right */
  margin-top: 3px; /* Making space for the dividers */
  margin-bottom: 1px; /* Same as above but smaller because the dividers are 2px shadows located at the top of the items */
}

.result-box {
  margin-bottom: -10px; /* Minimizing the distracting bottom bar */
  margin-top: -2px; /* To get rid of the bigger border under the input box when expanded */
}

.item-frame {
  box-shadow:
    inset 0px 2px @item_divider_lower_part,
    inset 0px 1px @item_divider_upper_part; /* Dividers between items */
}
