{% macro copyright(config) %}
<div class="copyright">
  <span>
    © {{ now() | date(format="%Y") }} {{ config.extra.copyright | safe}}
  </span>
  <span>
    Powered by {{ url::external(url="https://getzola.org/", text="Zola",
    icon=false) }} :: Site {{ url::external(url=config.extra.repo_url,
    text="Source", icon=false) }}
  </span>
</div>
{% endmacro copyright %} {% macro theme(config) %}
<div class="theme-container js-only">
  <div class="theme_before"></div>
  <div class="theme-content">
    <label for="theme-select">Theme:</label>
    <select id="theme-select">
      {% for theme in config.extra.color_schemes %} {% if
      config.extra.theme_color %} {% set default_theme =
      config.extra.theme_color %} {% else %} {% set default_theme = "red" %} {%
      endif %} {% if default_theme == theme %}
      <option selected="selected" value="{{ theme }}">{{ theme }}</option>
      {% else %}
      <option value="{{ theme }}">{{ theme }}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="theme_after"></div>
</div>
{% endmacro theme %} {% macro webring(config) %} {% if config.extra.webring %}
<div class="webring">
  <a href="{{ config.extra.webring_url }}/prev/{{ config.extra.author }}"
    >&lt;- prev</a
  >&nbsp;<a href="{{ config.extra.webring_url }}"
    >{{ config.extra.webring_name }}</a
  >&nbsp;<a href="{{ config.extra.webring_url }}/next/{{ config.extra.author }}"
    >next -&gt;</a
  >
</div>
{% endif %} {% endmacro webring %}
