{% macro copyright(config) %}
<div class="copyright">
  <span>
    © {{ now() | date(format="%Y") }} {{ config.extra.copyright | safe}} ::
    Powered by {{ url::external(url="https://getzola.org/", text="Zola",
    icon=false) }}
  </span>
  <span>
    Like this Site? See Source Code {{ url::external(url=config.extra.repo_url,
    text="Here", icon=false) }}
  </span>
</div>
{% endmacro copyright %} {% macro theme(config) %}
<div class="columns">
  <div class="column">
    <div class="content is-flex">
      <div class="theme-select-container">
        Theme:
        <select id="theme-select">
          {% for theme in config.extra.color_schemes %} {% if
          config.extra.theme_color %} {% set default_theme =
          config.extra.theme_color %} {% else %} {% set default_theme = "red" %}
          {% endif %} {% if default_theme == theme %}
          <option selected="selected" value="{{ theme }}">{{ theme }}</option>
          {% else %}
          <option value="{{ theme }}">{{ theme }}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
    </div>
  </div>
</div>
{% endmacro theme %}
