{% macro script() %}
<script src="{{ get_url(path="js/theme.js") }}"></script>
<script> switch_theme.init("{{config.base_url | safe}}"); </script>
<script src="{{ get_url(path="js/clipboard.js") }}"></script>
<script src="{{ get_url(path="js/footnote.js") }}"></script>
{% if config.build_search_index %}
  <script src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script src="{{ get_url(path="search_index.en.js") }}"></script>
  <script src="{{ get_url(path="js/search.js") }}"></script>
{% endif %}
{% endmacro script %}
{% macro mobile() %} <script src="{{ get_url(path="js/mobile.js") }}"></script> {% endmacro mobile %}
{% macro comments() %} <script src="{{ get_url(path="js/comments.js") }}"></script> {% endmacro comments %}
{% macro katex() %} {% if config.extra.math_katex %}
  <link rel="stylesheet" href="{{ get_url(path="math/katex.css") }}">
  <script defer type="text/javascript" src="{{ get_url(path="js/katex.js") | safe }}"></script>
  <script defer type="text/javascript" src="{{ get_url(path="math/mathtex-script-type.js") | safe }}"></script>
  <script defer src="{{ get_url(path="math/auto-render.js") | safe }}"
    onload="renderMathInElement(document.body, {
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '$', right: '$', display: false},
        {left: '\\(', right: '\\)', display: false},
        {left: '\\[', right: '\\]', display: true}
      ]
    });"></script>
{% endif %} {% endmacro katex %}
