{% macro paginate(pagelink) %} {% if paginator %}
<div class="pagination">
  <div class="pagination__buttons">
    {% if paginator.previous -%}
    <span class="pagination__buttons-previous">
      <a href="{{ paginator.previous }}">
        <span class="button_icon">←</span>
        <span class="button__text">newer</span>
      </a>
    </span>
    {% endif -%} {% if paginator.number_pagers > 1 -%}
    <div class="pagination__buttons-input">
      <form
        class="pagination__form"
        enctype="text/plain"
        action="{{ paginator.base_url }}">
        <label for="page">page</label>
        <input
          id="page"
          type="number"
          name="page"
          value="{{ paginator.current_index }}"
          min="1"
          max="{{ paginator.number_pagers }}"
          required />/ {{ paginator.number_pagers }}
        <button class="">Go</button>
      </form>
    </div>
    {% endif -%} {% if paginator.next -%}
    <span class="pagination__buttons-next">
      <a href="{{ paginator.next }}">
        <span class="button__text">older</span>
        <span class="button_icon">→</span>
      </a>
    </span>
    {% endif -%}
  </div>
</div>
{% endif %} {% endmacro paginate %} {% macro related() %} {% if page.earlier or
page.later %}
<div class="pagination__related">
  <ul class="pagination__related-posts">
    <li class="previous">
      {% if page.earlier %}
      <span class="pagination__buttons-previous">
        <span class="button_icon">←</span>
        <span class="button__text">previous</span>
      </span>
      <a class="pagination__related-title" href="{{ page.earlier.permalink }}"
        >{{ page.earlier.title }}</a
      >
      {% endif %}
    </li>
    <li class="next">
      {% if page.later %}
      <a class="pagination__related-title" href="{{ page.later.permalink }}"
        >{{ page.later.title }}</a
      >
      <span class="pagination__buttons-next">
        <span class="button__text">next</span>
        <span class="button_icon">→</span>
      </span>
      {% endif %}
    </li>
  </ul>
</div>
{% endif %} {% endmacro related %}
