{% macro meta(page, list=false) %}
<div class="post-meta {% if list %}meta-list{% else %}meta-page{% endif %}">
  {{ posts::date(date=page.date, updated=page.updated) }} {%- if page.date and not page.updated -%} :: {%- endif -%} {% if list %}
  <span class="post-metatitle">
    <strong>@<a href="{{ page.permalink | safe }}">{{ page.title }}</a></strong>
  </span>
  {% else %}
  <span class="post-readtime"> <i>{{ page.reading_time }}</i> min read </span>
  {% endif %} :: <span class="post-wordcount"> <i>{{ page.word_count }}</i> words </span> {{ posts::taxonomies(taxonomy=page.taxonomies) }}
</div>
{% endmacro meta %} {% macro date(date, updated) %}
<span class="post-date">
  {%- if date -%} {{ date | date(format="%Y.%m.%d") }} {%- endif -%} {%- if
  updated -%}, updated {{ updated | date(format="%Y.%m.%d") }} :: {%- endif -%}
</span>
{% endmacro date %} {% macro taxonomies(taxonomy) %} {% if taxonomy.series -%}
{{ posts::series(series=taxonomy.series) }} {% endif -%} {% if taxonomy.tags -%}
{{ posts::tags(tags=taxonomy.tags) }} {% endif -%} {% endmacro taxonomies %} {%
macro series(series) %} :: {% for siri in series -%}
<strong
  >^<a href="{{ get_taxonomy_url(kind="series", name=siri) }}">{{ siri
  }}</a></strong
>
{% endfor -%} {% endmacro series %} {% macro tags(tags) %} :: {% for tag in tags
-%} #<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a> {% endfor
-%} {% endmacro tags %}
