{% macro entries(headings) %}
<ul>
  {% for heading in headings %}
  <li>
    <a href="{{ heading.permalink | safe }}">{{ heading.title }}</a>
    {% if heading.children %}{{ toc::entries(headings=heading.children) }}{%
    endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro entries %} {% macro toc(t) %} {% if t %}
<nav class="toc" id="nav-container" aria-label="Table of contents">
  <p class="toc-head">Table of Contents</p>
  <div id="nav-content">{{ toc::entries(headings=t) }}</div>
</nav>
{% endif %} {% endmacro toc %}
