* {
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  min-height: 0;
  min-width: 0;
}
window#waybar {
  background-color: alpha(@base00, 0.9);
  border: 2px solid @base00;
  border-radius: 0;
}
tooltip {
  background: alpha(@base00, 0.9);
  color: @base05;
  border: 1px solid @base0D;
}

#custom-logo {
  color: #ffffff;
}

#custom-user {
  background-color: @base0F;
  color: @base00;
}
#custom-power {
  color: @base08;
}

#workspaces button {
  color: @base00;
  background-color: @base07;
  border: 2px solid @base00;
  padding: 3px;
  margin: 1px 0;
}
#workspaces button.current_output {
  border: 2px solid @base02;
}
#workspaces button.active {
  background-color: @base05;
  border: 2px solid @base04;
}
#workspaces button.empty {
  color: @base07;
  background-color: transparent;
}

#window {
  background-color: @base0C;
}
#window * {
  padding-left: 0.5em;
}
#window label {
  padding: 0;
  margin: 0;
}
window#waybar.empty #window {
  background-color: transparent;
}

#custom-dropdown {
  color: #ffffff;
}
#tray {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
#tray * {
  margin-bottom: 8px;
}
#keyboard-state {
  color: @base05;
  opacity: 0.8;
  border: 2px solid @base04;
}

#bluetooth {
  color: #ffffff;
  background-color: transparent;
}
#bluetooth.disabled {
  background-color: transparent;
}

#network {
  background-color: @base0B;
  color: @base00;
}
#network.disconnected {
  background-color: @base06;
}

#media .drawer box {
  margin-right: 0px;
}
#wireplumber {
  background-color: @base09;
  color: @base00;
}
#wireplumber.muted {
  background-color: @base06;
}
#mpris {
  color: @base05;
}

#backlight {
  background-color: @base0E;
  color: @base00;
}
#custom-temperature {
  color: @base07;
}

#battery {
  background-color: @base0A;
  color: @base00;
}
@keyframes blink {
  to {
    background-color: #ffffff;
  }
}
#battery.critical:not(.charging) {
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#power-profiles-daemon.performance {
  color: @base08;
}
#power-profiles-daemon.balanced {
  color: @base0A;
}
#power-profiles-daemon.power-saver {
  color: @base0B;
}

#custom-weather {
  color: @base00;
  background-color: @base05;
}

#clock {
  background-color: @base0D;
  color: @base00;
}

#custom-notify {
  color: @base0A;
}

#idle_inhibitor {
  color: @base09;
  background-color: transparent;
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-dropdown,
#custom-logo,
#custom-notify,
#custom-power,
#custom-temperature,
#custom-user,
#custom-weather,
#idle_inhibitor,
#keyboard-state,
#mpris,
#network,
#power-profiles-daemon,
#wireplumber {
  padding: 3px;
  margin: 2px;
}

#clock {
  padding-left: 0.4em;
}

#keyboard-state {
  margin-bottom: 10px;
}

#window {
  margin: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#workspaces {
  margin: 3px 2px;
}
