* {
  all: unset;
  transition: 200ms;
  font-family: @font;
  font-size: 16px;
  font-weight: 500;
}

/* -- Notification -- */
.notification-background {
  background: alpha(#@base01, 0.9);
  color: #@base05;
  margin: 6px 12px;
  border-radius: 7px;
  border: solid 0.5px #@base05;
  padding: 0;
}

.notification {
  padding: 7px;
  border-radius: 7px;
}

.notification.critical {
  box-shadow: inset 0 0 7px #@base08;
}

.notification-content {
  margin: 7px;
}

/* Icon */
.notification-content overlay {
  margin-right: 10px;
}

.notification-content image {
  -gtk-icon-size: 48px;
  min-width: 48px;
  min-height: 48px;
  margin-right: 6px;
}

.notification .app-icon {
  -gtk-icon-size: 24px;
  -gtk-icon-shadow: 0 1px 4px black;
}

/* Text */
.notification-content .summary {
  color: #@base05;
  margin-bottom: 4px;
}

.notification-content .time {
  color: #@base04;
}

.notification-content .body {
  color: #@base05;
  font-size: 14px;
}

/* Buttons */
.close-button {
  margin: 7px;
  padding: 4px;
  border-radius: 7px;
  background: #@base08;
  color: #@base00;
}

.close-button:hover {
  background: #@base09;
}

.notification-action {
  background: #@base02;
  color: #@base05;
  margin: 3px;
  padding: 6px;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px #@base03;
  font-size: 12px;
}

.notification-action:hover {
  background: #@base03;
}

/* Progress Bar */
.notification progress,
.notification trough,
.notification progressbar {
  border-radius: 7px;
  padding: 3px 0;
}

.notification.low progress,
.notification.normal progress {
  background: #@base0D;
}

.notification.critical progress {
  background: #@base08;
}

/* -- Control Center -- */
.control-center {
  background: alpha(#@base00, 0.9);
  color: #@base05;
  padding: 14px;
  border-radius: 7px;
  box-shadow: inset 0 0 0 2px #@base02;
}

/* Title */
.widget-title {
  margin-bottom: 10px;
}

.widget-title > label {
  font-size: 1.3em;
}

.widget-title button {
  background: #@base02;
  color: #@base05;
  padding: 7px;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px #@base03;
}

.widget-title button:hover {
  background: #@base03;
}

/* DND */
.widget-dnd {
  padding: 10px;
}

.widget-dnd > switch {
  min-width: 30px;
  min-height: 15px;
  border-radius: 999px;
  background: #@base02;
}

.widget-dnd > switch:checked {
  background: #@base0D;
}

.widget-dnd > switch slider {
  min-width: 15px;
  min-height: 15px;
  margin: 2px;
  border-radius: 999px;
  background: #@base05;
}

/* Notifications */
.widget-notifications {
  min-height: 400px;
}

.notification-group {
  margin-top: 12px;
  padding: 0 4px;
}

.notification-group-headers {
  margin-bottom: 5px;
}

.notification-group-icon {
  margin-left: 5px;
  margin-right: 12px;
}

.notification-group-header {
  margin-left: 4px;
}

.notification-group-buttons {
  margin-right: 7px;
}

/* Volume/Backlight */
.widget-volume,
.widget-backlight {
  padding: 10px;
}

.widget-volume trough highlight {
  background: #@base0C;
}

.widget-backlight trough highlight {
  background: #@base0A;
}

/* Sliders */
scale {
  margin: 0 7px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 10px;
  min-width: 70px;
  border-radius: 7px;
}

trough {
  background-color: #@base02;
}

trough highlight {
  background: #@base0D;
}

trough slider {
  margin: -10px;
  border-radius: 7px;
  background-color: #@base0D;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

trough slider:hover {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 8px #@base0D;
}

/* Scrollbar */
scrollbar slider {
  min-width: 3px;
  margin: 0 1px;
  border-radius: 99px;
  background-color: #@base0D;
  opacity: 0.4;
  box-shadow: none;
  border: none;
}

scrollbar:hover slider {
  min-width: 5px;
  opacity: 0.8;
  box-shadow: none;
}
