[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Dock
Comment=
Exec=plank
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
