{%- extends "base.html" -%} {%- block title %}
<title>{{ config.extra.author }}</title>
{%- endblock title -%} {%- block main -%}
<article class="post">
  <h1 class="post-title">{{ section.title }}</h1>
  <article class="post">
    <div class="post-content">{{ section.content | safe }}</div>
  </article>

  <h3 class="post-title post-title-sub">Recent Posts</h3>
  {% set section = get_section(path="blog/_index.md") %}
  <ul class="post-list">
    {% for page in section.pages -%} {%- if loop.index0 < 5 -%}
    <li>{{ posts::meta(page=page, list=true) }}</li>
    {%- endif -%} {%- endfor %}
  </ul>
</article>
{%- endblock main -%}
